<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='lib/bootstrap.min.css') }}" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Error</title>
</head>

<body>
  <div class="text-center d-flex flex-column align-items-center h-100">

    {% block error_code %}

    {% endblock error_code %}
    <p>{{ error }}</p>
    <a href="{{ url_for('base.index') }}" class="btn btn-secondary">Back to Homepage</a>

  </div>
</body>

</html>