{% extends 'templates/base.html' %}

{% block head %}
<title>Change Password</title>
{% endblock  %}

{% block body %}
<h1 class="display-6 mb-5">Change Password</h1>
{% include 'components/alert.html' %}
{% include 'components/form_errors.html' %}
<form action="{{ url_for('auth.change_password') }}" method="POST">
  {% for field in form %}
  <div class="mb-3">
    {% if field.type == 'BooleanField' %}
    {{ field(class_='form-check-input') }}
    {{ field.label(class_='form-check-label') }}
    {% elif field.type == 'CSRFTokenField' %}
    {{ field() }}
    {% elif field.type == 'SubmitField' %}
    {{ field(class_='btn btn-block btn-primary') }}
    {% else %}
    <div class="form-floating">
      {{ field(class_='form-control') }}
      {{ field.label() }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</form>
{% endblock body %}