{% extends 'templates/base.html' %}
{% block head %}
  <title>
    {% if post != undefined %}
      {{ post.title }} - {{ operation }}
    {% else %}
      {{ operation }} Post
    {% endif %} 
  </title>
{% endblock head %}

{% block body %}
{% include 'components/alert.html' %}
{% include 'components/form_errors.html' %}
<h1 class="display-6 mb-4">{{ operation }} Post</h1>
<form action="{{ action }}" method="POST">
  {% for field in form %}
    <div class="mb-3">
      {% if field.type == 'BooleanField' %}  
        {{ field(class_='form-check-input') }}
        {{ field.label(class_='form-check-label') }}
      {% elif field.type == 'CSRFTokenField' %}
        {{ field() }}
      {% elif field.type == 'SubmitField' %}
        {{ field(class_='btn btn-block btn-primary') }}
      {% else %}  
        {{ field.label(class_='form-label') }}
        {{ field(class_='form-control') }}
      {% endif %}  
    </div>  
  {% endfor %}
</form>
{% endblock body %}

{% block script %}
<script src="//cdn.ckeditor.com/4.16.2/full/ckeditor.js"></script>
<script defer>
  CKEDITOR.replace('content')
</script>
{% endblock script %}