{% extends 'templates/base.html' %}
{% block body %}

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container d-flex justify-content-between">
    <a class="navbar-brand" href="{{ url_for('base.index') }}">
      <img src="{{ url_for('static',filename='svg/code.svg') }}" alt="Code">
      Programmer Base
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="{{ url_for('base.index') }}">Home</a>
          <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
          <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
      </div>
    </div>
  </div>
</nav>

<div class="header-4-4 container-xxl mx-auto p-0 position-relative" style="font-family: 'Poppins', sans-serif">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a href="#">
      <img style="margin-right: 0.75rem"
        src="{{ url_for('static', filename='svg/code.svg') }}" alt="" />
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="modal" data-bs-target="#targetModal-item">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="modal-item modal fade" id="targetModal-item" tabindex="-1" role="dialog"
      aria-labelledby="targetModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content border-0" style="background-color: #000000">
          <div class="modal-header border-0" style="padding: 2rem; padding-bottom: 0">
            <a class="modal-title" id="targetModalLabel">
              <img style="margin-top: 0.5rem"
                src="http://api.elements.buildwithangga.com/storage/files/2/assets/Header/Header2/Header-2-4.png"
                alt="" />
            </a>
            <button type="button" class="close btn-close text-white" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="padding: 2rem; padding-top: 0; padding-bottom: 0">
            <ul class="navbar-nav responsive me-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="#" style="color: #e7e7e8">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Feature</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
          <div class="modal-footer border-0 gap-3" style="padding: 2rem; padding-top: 0.75rem">
            <button class="btn btn-default btn-no-fill">Log In</button>
            <button class="btn btn-fill border-0">Try Now</button>
          </div>
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color: #e7e7e8">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Feature</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <div class="gap-3">
        <button class="btn btn-default btn-no-fill">Log In</button>
        <button class="btn btn-fill border-0">Try Now</button>
      </div>
    </div>
  </nav>

  <div>
    <div class="mx-auto d-flex flex-lg-row flex-column hero">
      <!-- Left Column -->
      <div
        class="left-column d-flex flex-lg-grow-1 flex-column align-items-lg-start text-lg-start align-items-center text-center">
        <p class="text-caption">FREE 30 DAY TRIAL</p>
        <h1 class="title-text-big text-white">
          The best way<br class="d-lg-block d-none" />
          to organize your online learning
        </h1>
        <div class="d-flex flex-sm-row flex-column align-items-center mx-lg-0 mx-auto justify-content-center gap-3">
          <button class="btn d-inline-flex mb-md-0 btn-try border-0">
            Try it free
          </button>
          <button class="btn btn-outline">
            <div class="d-flex align-items-center">
              <svg class="me-2" width="13" height="12" viewBox="0 0 13 13" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M10.9293 7.99988L6.66668 5.15788V10.8419L10.9293 7.99988ZM12.9173 8.27722L5.85134 12.9879C5.80115 13.0213 5.74283 13.0404 5.6826 13.0433C5.62238 13.0462 5.5625 13.0327 5.50934 13.0042C5.45619 12.9758 5.41175 12.9334 5.38075 12.8817C5.34976 12.83 5.33337 12.7708 5.33334 12.7105V3.28922C5.33337 3.22892 5.34976 3.16976 5.38075 3.11804C5.41175 3.06633 5.45619 3.02398 5.50934 2.99552C5.5625 2.96706 5.62238 2.95355 5.6826 2.95644C5.74283 2.95932 5.80115 2.97848 5.85134 3.01188L12.9173 7.72255C12.963 7.75299 13.0004 7.79423 13.0263 7.84261C13.0522 7.89099 13.0658 7.94501 13.0658 7.99988C13.0658 8.05475 13.0522 8.10878 13.0263 8.15716C13.0004 8.20553 12.963 8.24678 12.9173 8.27722Z"
                  fill="#999999" />
              </svg>
              Watch the video
            </div>
          </button>
        </div>
      </div>
      <!-- Right Column -->
      <div class="right-column text-center d-flex justify-content-lg-end justify-content-center pe-0">
        <img id="img-fluid" class="h-auto mw-100"
          src="http://api.elements.buildwithangga.com/storage/files/2/assets/Header/Header4/Header-4-3.png"
          alt="" />
      </div>
    </div>
  </div>
</div>


{% endblock body %}