{% extends 'templates/base.html' %}
{% block head %}
  <title>Programmer Base</title>
{% endblock head %}

{% block body %}
<div class="header-4-4 mx-auto p-0 position-relative" style="font-family: 'Poppins', sans-serif">
  <div>
    <div class="mx-auto d-flex flex-lg-row flex-column hero">
      <!-- Left Column -->
      <div
        class="left-column d-flex flex-lg-grow-1 flex-column align-items-lg-start text-lg-start align-items-center text-center">
        <h1 class="title-text-big">
          The best way<br class="d-lg-block d-none" /> to discuss with fellow programmers.
        </h1>
        <div class="d-flex flex-sm-row flex-column align-items-center mx-lg-0 mx-auto justify-content-center gap-3">
          <a href="{{ url_for('auth.register') }}" class="btn d-inline-flex mb-md-0 btn-try border-0">
            Sign up for free.
          </a>
          <button class="btn btn-secondary btn-outline">
            <div class="d-flex align-items-center">
              <a href="{{ url_for('auth.login') }}" class="text-decoration-none text-black">Login</a>
            </div>
          </button>
        </div>
      </div>
      <!-- Right Column -->
      <div class="right-column text-center d-flex justify-content-lg-end justify-content-center pe-0">
        <img id="img-fluid" class="h-auto mw-100"
          src="http://api.elements.buildwithangga.com/storage/files/2/assets/Header/Header4/Header-4-3.png"
          alt="" />
      </div>
    </div>
  </div>
</div>


{% endblock body %}