{% extends 'templates/base.html' %}

{% block head %}
<title>Login</title>
{% endblock head %}

{% block body %}
{% include 'components/alert.html' %}
<div class="row my-5">
  <div class="col">
    <div class="text-center">
      <lottie-player src=" https://assets9.lottiefiles.com/packages/lf20_iorpbol0.json" background="transparent"
        speed="1" style="width: 400px; height: 400px;" loop autoplay></lottie-player>
    </div>
  </div>
  <div class="col-md-6">
    <h1 class="mb-5">Login</h1>
    {% include 'components/form_errors.html' %}
    <form class="h-100" method="POST" action="{{ url_for('auth.login') }}">
      {% for field in form %}
      <div class="mb-4">
        {% if field.type == 'BooleanField' %}
        {{ field(class_='form-check-input') }}
        {{ field.label(class_='form-check-label') }}
        {% elif field.type == 'CSRFTokenField' %}
        {{ field() }}
        {% elif field.type == 'SubmitField' %}
        {{ field(class_='btn btn-block btn-primary') }}
        {% else %}
        <div class="form-floating">
          {{ field(class_='form-control') }}
          {{ field.label() }}
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <p>
        Don't have an account? <a href="{{ url_for('auth.register') }}">Click here</a>
      </p>
    </form>

  </div>
</div>
<script src="{{ url_for('static', filename='lib/lottie-player.js') }}"></script>
{% endblock body %}