{% extends 'templates/base.html' %}

{% block head %}
  <title>Programmer Base - Forum</title>
{% endblock head %}

{% include 'components/navbar.html' %}

{% block body %}

{% include 'components/alert.html' %}

{% for post in posts  %}
  <h3>{{ post.title }}</h3>
  <p><small>Posted by {{ post.user.username }}</small></p>
  <p>{{ post.content }}</p>
  <a href="{{ post.slug }}" class="btn btn-primary">View</a>
  {% if current_user.id == post.user_id %}
    <a href="{{ post.slug }}/edit" class="btn btn-primary">Edit</a>
    <form action="{{ post.slug }}/delete" method="post">
      <input type="hidden" name="slug" value="{{ post.slug }}">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    
  {% endif %}
{% endfor %}


{% endblock body %}