{% extends 'templates/base.html' %}

{% block head %}
  <title>Register</title>
{% endblock head %}

{% include 'components/navbar.html' %}

{% block body %}
<h1 class="mb-5">Sign up</h1>
{% include 'components/form_errors.html' %}
<form action="{{ url_for('auth.register') }}" method="POST">
  {% for field in form %}
    <div class="mb-3">
      {% if field.type == 'BooleanField' %}  
        {{ field(class_='form-check-input') }}
        {{ field.label(class_='form-check-label') }}
      {% elif field.type == 'CSRFTokenField' %}
        {{ field() }}
      {% elif field.type == 'SubmitField' %}
        {{ field(class_='btn btn-block btn-primary') }}
      {% else %}  
        {{ field.label(class_='form-label') }}
        {{ field(class_='form-control') }}
      {% endif %}  
    </div>  
  {% endfor %}
</form>

{% endblock body %}